DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"
ORIGIN=""
#generated using `openssl rand -hex 32`
APP_SECRET=""
CLUBS_API_KEY=""
OAUTH_CLIENT_ID=""
OAUTH_CLIENT_SECRET=""
# comma separated list of admin emails
ADMIN_EMAILS=""
