DATABASE_URL="postgres://root:mysecretpassword@localhost:5432/local"
ORIGIN=""
#generated using `openssl rand -hex 32`
APP_SECRET=""
# https://clubapi.hackclub.com, contact a maintainer of clubapi for one
CLUBS_API_KEY=""
# hca oauth client id and secret, make one on https://auth.hackclub.com, callback url is ORIGIN/api/auth/callback/hackclub
OAUTH_CLIENT_ID=""
OAUTH_CLIENT_SECRET=""
# comma separated list of admin emails
ADMIN_EMAILS=""
# smtp stuff (yes it's required)
SMTP_HOST=""
SMTP_PORT=""
SMTP_FROM=""